.add-to-cart {
	padding:0;
    font-weight: 700;
	   border-radius:0;
	   color: white;
	  background-color: #000;
	  text-align: center;
	  width: 100%;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  }
  
  .show-cart li {
		display: flex;
	  }
	  
#form-trial{
	visibility: hidden;
	font-size: 0;
	opacity: 0;
}