.add-to-cart {
	padding:0;
    font-weight: 200;
	   border-radius:0;
	   color:#eeeeee;
	  background-color: #000;
	  text-align: center;
	  width: 100%;
	  font-family: 'Lobster', cursive;
	  font-size: 30px;
  }
  
  .show-cart li {
		display: flex;
	  }
	  
#form-trial{
	visibility: hidden;
	font-size: 0;
	opacity: 0;
}

@media only screen and (max-device-width: 600px){
 
 #cart .modal-lg {
	 font-size: 20px;
	 margin-top: 40%;
	 width: 90%;
 }
 .entername{
	 font-size: 30px;
 }

 #cart .modal-title{
	 font-size: 30px;
 }
 #cart .modal-lg .modal-content .modal-header .close{
	 font-size: 60px;
 }
 .ordernow ,.close-cart,.clear-cart{
	 width: 100px;
	 height: 40px;
	 font-size: 17px;
 }
}