.container-fluid .img-thumbnail{
 height: 360px;
 width: 100%;
 margin-top: 25px;
 
}


.cont2{
  margin-top: 50px;
  margin-bottom: 50px;
  color: #eeeeee;
}

.slick-slide {
  box-sizing: border-box;
  border: 10px solid #eeeeee;
  
}

.slick-slide img{
  width: 520px;
  height: 340px;
}




.withOptions{
  margin-top: 100px;
  width: 100%;

}

.col-lg-4{
  position: relative;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.text-block {
  position: absolute;
  bottom: 5px;
  right: 20px;
  background-color:#141414;
  color:#eeeeee;
  padding-left: 20px;
  padding-right: 20px;
}


.slick-dots li button:before {
  font-size: 16px;
  color:white;
  opacity: 0.6;
}
 
.slick-dots li.slick-active button:before {
  color:#cab05c;
  opacity: 0.6;
}