.container-fluid .img-thumbnail{
 height: 360px;
 width: 100%;
 margin-top: 25px;
 
}


.cont2{
  margin-top: 50px;
  margin-bottom: 50px;
  color: #eeeeee;
}

.slick-slide {
  box-sizing: border-box;
  border: 10px solid #eeeeee;
  
}

.slick-slide img{
  width: 520px;
  height: 340px;
}




.withOptions{
  margin-top: 100px;
  width: 100%;

}
#greeting .modal-content{
background-color: #141414;
color: #eeeeee;
font-family: 'Balsamiq Sans', cursive;
font-weight: 500;
font-size: larger;
}

#greeting .modal-content .modal-header{
  background-color: #b0a16e;
  padding-top: 0px;
  padding-bottom: 0px;
}
#greeting .modal-content .cart{
  height: 40px;
  font-size: 20px;
  padding-top: 0px;
  margin-top: 0px;
}
#greeting .modal-content .modal-footer{
  padding-top: 0px;
}


@media only screen 
and (max-device-width: 640px)
{ .withOptions{
  margin-top: 150px;
  width: 100%;

}
#greeting{
  margin-top: 30%;
  font-size: 25px;
}
#greeting .modal-content .modal-header h3{
  font-size: 35px;
  margin-top: 5px;
}
#greeting .modal-content .modal-header h4{
  font-size: 30px;
  margin-bottom: 10px;
}


}


.col-lg-4{
  position: relative;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.text-block {
  position: absolute;
  bottom: 5px;
  right: 20px;
  background-color:#141414;
  color:#eeeeee;
  padding-left: 20px;
  padding-right: 20px;
}


.slick-dots li button:before {
  font-size: 16px;
  color:white;
  opacity: 0.6;
}
 
.slick-dots li.slick-active button:before {
  color:#cab05c;
  opacity: 0.6;
}