.box{
    background-color: #eeeeee;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50%;
    border-radius: 20px;

}
p{
    font-family: 'Kalam', cursive;
    text-align: center;
      margin-top: 50px;
      font-size: 60px;
}


@media only screen 
and (min-device-width: 640px)
{ 

    .box{
        margin-top: 17%;

    }
    
 }

