.box{
    background-color: #eeeeee;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50%;
    border-radius: 20px;

}
p{
    font-size: 55px;
    font-family: 'Kalam', cursive;
}


@media only screen 
and (min-device-width: 640px)
{ 

    .box{
        margin-top: 17%;

    }
 }

